body {
    color: white;
}



#introduction {
    background-color: #27323E;
}

#aboutMe {
    background-color: #212529;
}

#services {
    background-color: #27323E;
}

#portfolio {
    background-color: #212529;
}

#blog {
    background-color: #27323E;
}

#touch {
    background-color: #212529;
}